// Main SCSS File
@use 'tailwindcss';

// Variables
@use 'variables/colors' as colors;
@use 'variables/typography' as typography;
@use 'variables/breakpoints' as breakpoints;
@use 'variables/mixins' as mixins;

// @theme: CSS 변수를 Tailwind 클래스로 변환
@theme inline {
  --color-primary-red: var(--color-primary-red);
  --color-primary-orange: var(--color-primary-orange);
  --color-primary-yellow: var(--color-primary-yellow);
  --color-primary-green: var(--color-primary-green);
  --color-primary-mint: var(--color-primary-mint);
  --color-primary-teal: var(--color-primary-teal);
  --color-primary-cyan: var(--color-primary-cyan);
  --color-primary-blue: var(--color-primary-blue);
  --color-primary-indigo: var(--color-primary-indigo);
  --color-primary-purple: var(--color-primary-purple);
  --color-primary-pink: var(--color-primary-pink);
  --color-primary-brown: var(--color-primary-brown);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-gray: var(--color-gray);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  
  --bg-color-primary: var(--bg-color-primary);
  --bg-color-secondary: var(--bg-color-secondary);

  --opacity-20: var(--opacity-20);
  --opacity-40: var(--opacity-40);
  --opacity-60: var(--opacity-60);
  --opacity-80: var(--opacity-80);

  --color-text-primary: var(--text-color-primary);
  --color-text-inherit: var(--text-color-inherit)
  // Typography
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-base: var(--text-base);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-2xl: var(--text-2xl);
  --text-3xl: var(--text-3xl);
  --text-4xl: var(--text-4xl);
  --text-5xl: var(--text-5xl);

  --font-thin: var(--font-thin);
  --font-light: var(--font-light);
  --font-normal: var(--font-normal);
  --font-medium: var(--font-medium);
  --font-semibold: var(--font-semibold);
  --font-bold: var(--font-bold);
  --font-extrabold: var(--font-extrabold);
  --font-black: var(--font-black);

  --leading-none: var(--leading-none);
  --leading-tight: var(--leading-tight);
  --leading-snug: var(--leading-snug);
  --leading-normal: var(--leading-normal);
  --leading-relaxed: var(--leading-relaxed);
  --leading-loose: var(--leading-loose);

}

:root {
  @include mixins.spread-map(colors.$theme-map-light);
  @include mixins.spread-map(breakpoints.$breakpoints);
}

// Global Styles
:root.light {
  @include mixins.spread-map(colors.$theme-map-light);
}
:root.dark {
  @include mixins.spread-map(colors.$theme-map-dark);
}

html {
  font-size: 13px;

  @include mixins.min-width(sm) {
    font-size: 14px;
  }
  @include mixins.min-width(md) {
    font-size: 15px;
  }
  @include mixins.min-width(lg) {
    font-size: 16px;
  }

  scrollbar-gutter: stable;
}

body {
  background: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-pretendard);
  line-height: var(--leading-normal, 1.5);
}