@reference "tailwindcss";

@layer components {
  .project__card {
    @apply rounded-[1rem] p-7 cursor-pointer;

    &--orange {
      color: var(--color-primary-orange);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-orange);
        
      }
    }

    &--green {
      color: var(--color-primary-green);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-green);
        
      }
    }

    &--blue {
      color: var(--color-primary-blue);
      &:hover {
        box-shadow: inset 0 0 80px 2px var(--color-primary-blue);
        
      }
    }
  }
  .project__card-inner {
    @apply flex flex-col gap-4 justify-between;
  }

  .project__card-title-wrapper {
    min-width: 0;
    overflow: hidden;
  }

  .project__card-shape {
    // @apply fill-orange-500;
  }

  .project__card-title {
    @apply text-xl font-bold;

    color: var(--color-text-primary);
    overflow: hidden;
    container-type: inline-size;
    min-width: 0;

    &-inner {
      display: inline-block;
      white-space: nowrap;
      transition: transform 0.4s ease-out;
      
      .project__card:hover & {
        transform: translateX(min(0px, calc(100cqw - 100%)));
      }
    }
  }

  .project__card-description {
    @apply text-sm mt-2 min-h-10;

    color: var(--color-gray);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .project__card-skills {
    @apply flex gap-2 overflow-hidden flex-nowrap mt-4;
  }

  .project__card-skill {
  }
}